<div class="topNavbarContainer">
    <mat-toolbar class="desktop-nav">
        <mat-toolbar-row>
            <mat-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </mat-button>
            <div class="mobileversionTitle" fxShow="true" fxHide.gt-sm>White Hat Gaming EM</div>
            <!-- <span class="menu-spacer"></span> -->
            <div class="content-container" fxShow="true" fxHide.lt-md>
                <mat-nav-list>
                    <ng-template [ngTemplateOutlet]="Temp" [ngTemplateOutletContext]="{data:null}"></ng-template>
                </mat-nav-list>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- mobile version sidenav -->
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <ng-template [ngTemplateOutlet]="Temp" [ngTemplateOutletContext]="{data:sidenav}"></ng-template>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!-- categories-title-content -->
<ng-template #Temp let-data="data">
    <div *ngFor="let item of this.menuItems" class="eachCategory">
        <a mat-list-item (click)="navigate(item.url, data)" [ngClass]="{selected:  checkClickedItem(item.url)}">
            <div class="list-item">{{item.name}}</div>
        </a>
    </div>
    <div class="dropdown eachCategory">
        <a mat-list-item class="dropbtn" [ngClass]="{selected:  selectedOthersMenu}">
            <div class="list-item">Others</div>
        </a>
        <div class="dropdown-content">
            <div *ngFor="let item of this.othersMenuItems">
                <a mat-list-item class="dropbtn" (click)="navigate(item.url, data)"
                    [ngClass]="{selected:  checkClickedItem(item.url)}">
                    <div class="list-item">{{item.name}}</div>
                </a>
            </div>
        </div>
    </div>
</ng-template>
