.topNavbarContainer {
  height: 95vh;
}

mat-toolbar {
  min-height: 1em;
  max-height: 2.5em;
  mat-toolbar-row {
    padding: 0 35px;

    mat-nav-list {
      margin: 0;
      padding: 0;
      font-size: medium;
      justify-content: space-around;
      align-items: center;
      display: flex;
      width: 100%;

      .mat-list-item {
        color: #ffffff;

        .list-item {
          width: 100%;
          font-size: larger;
          font-weight: lighter;
        }
      }
    }
  }
}

.selected {
  background-color: var(--green-color);
}

mat-toolbar {
  background-color: var(--primary-color);
  line-height: var(--nav-height);

  mat-nav-list {
    list-style: none;
    padding: 0;
    margin: 0 2rem;
    height: 100%;

    a {
      cursor: pointer;
      text-align: center;
      height: 100%;
      width: 100%;
      outline: 0;
      color: var(--white-color);
      justify-content: center;

      &:focus {
        outline: 0;
      }

      &:active {
        font-weight: bold;
        background-color: var(--green-color);
      }

      &:visited {
        font-weight: bold;
        background-color: var(--green-color);
      }

      &:hover {
        font-weight: bold;
        opacity: 0.93;
        background-color: var(--green-color);
      }
    }
  }
}

.mobileversionTitle {
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.content-container {
  display: contents;
}

mat-button {
  background-color: var(--background);
  color: var(--white-color);
  margin-top: 10px;
}

mat-sidenav {
  background-color: var(--primary-color);

  mat-nav-list {
    a {
      color: var(--white-color);
      justify-content: center;
      text-shadow: 1px 1px rgb(0 0 0);

      &:focus {
        outline: 0;
      }

      &.active,
      &:hover {
        font-weight: bold;
        background-color: var(--green-color);
      }
    }
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    min-width: 9.45vw;
    position: fixed;
  }
}

mat-select {
  display: none;
  width: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.dropdown-content a {
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  min-width: 9.45vw;
}

.dropdown:hover {
  background-color: var(--green-color);
}

.eachCategory {
  height: 100%;
  min-width: 9.45vw;
  display: block;
}
